<div id='container'>
  <div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
    <a href='#/signin' class='logout' ng-click='signout()'>Logout</a>
  </div>


  <form>
      <input class='text' type='text' ng-model='link.url'>
      <input type='submit' value='Shorten' ng-click='addLink()'>
  </form>
  <img class='spinner' src='/spiffygif_46x46.gif'>
  <div class='message'>{{messageTxt}}</div>

  <div class='linkContainer' ng-style="shorten">
    <img src='../assets/redirect_icon.png'/>
    <div class='info'>
      <div class='visits'><span class='count'>{{shortenLink.visits}}</span>Visits</div>
      <div class='title'>{{shortenLink.title}}</div>
      <div class='original'>{{shortenLink.url}}</div>
      <a href='{{shortenLink.baseUrl}}/{{shortenLink.code}}'>{{shortenLink.baseUrl}}/{{shortenLink.code}}</a>
    </div>
  </div>

</div>


